<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS imports  -->
    <link rel="stylesheet" href="../static/styles/bootstrap.css">
    <link rel="stylesheet" href="../static/styles/chili_style.css">
    <!-- JS Imports -->
    <script type='text/javascript' src='../static/scripts/jquery-3.3.1.js'></script>
    <script type="text/javascript" src="../static/scripts/socket.io.js"></script>
    <script type='text/javascript' src='../static/scripts/bootstrap.bundle.js'></script>
    <script type="text/javascript" src="../static/scripts/d3.js"></script>
    <script src="../static/scripts/plotly.js" charset="utf-8"></script>
    <title>ChiliUI</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>ChiliUI</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Column 1</h3>
                <div id="graph"></div>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <div id="log"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to websockets server
            namespace = '/webui';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            // Create initial empty array and place plot in div #graph
            var arrayLength = 30
            var newArray = []
            for (var i = 0; i < arrayLength; i++) {
                newArray[i] = 0;
            }
            Plotly.plot('graph', [{
                y: newArray,
                mode: 'lines',
                line: {color: '#80CAF6'}
            }]);
            // Connect listener
            socket.on('connect', function() {
                //socket.emit('connect_event', {});
            })
            // Connection confirmation listener
            socket.on('connection_confirmed', function(msg) {
                $('#log').append('<p>Num conexion: ' + msg['client_id'] + '</p>');
            });
            // Incoming data packet listener
            socket.on("receive_data", function (msg){
                // Receive new data point
                var number = msg["data"];
                // Add to data array, drop oldest sample and package array
                newArray = newArray.concat(number);
                newArray.splice(0, 1);
                var data_update = {
                    y: [newArray]
                };
                // Update plot with shifted and update data trace
                Plotly.update('graph', data_update)
            });
        });
    </script>
</body>
</html>