<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS imports  -->
    <link rel="stylesheet" href="../static/styles/bootstrap.css">
    <link rel="stylesheet" href="../static/styles/chili_style.css">
    <!-- JS Imports -->
    <script type='text/javascript' src='../static/scripts/jquery-3.3.1.js'></script>
    <script type="text/javascript" src="../static/scripts/socket.io.js"></script>
    <script type='text/javascript' src='../static/scripts/bootstrap.bundle.js'></script>
    <script type="text/javascript" src="../static/scripts/d3.js"></script>
    <script type='text/javascript' src="../static/scripts/jQueryRotate.js"></script>
    <script type="text/javascript" src="../static/scripts/plotly.js" charset="utf-8"></script>
    <title>ChiliUI</title>
</head> 
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h1 id="title">ChiliUI</h1>
                </div>
            </div>
        </div>
    </div>    
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-sm-7 text-center">
                <img width="90%" src="http://chilivision.local:1181/stream.mjpg">
            </div>
            <div class="col-sm-5 ">
                <div class="row">
                    <div class="col-sm-6">
                         <div id="clockdiv">
                            <div>
                                <span class="minutes"></span>
                                <div class="smalltext">Mins</div>
                            </div>
                            <div>
                                <span class="seconds"></span>
                                <div class="smalltext">Secs</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <canvas id="battery-animation" width="275" height="120"></canvas> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img id='imgMagnet' src= "../static/images/magnet.svg" width="150">
            </div>
            <div class="col-sm-4">
                    <p>brazo</p>
                </div>
                <div class="col-sm-4">
                        <p>cam2</p>
                </div>
        </div>
    </div>   

    <!-- Custom JS script import -->
    <script type="text/javascript" src="../static/scripts/chiliwebui.js" charset="utf-8"></script>
</body>
</html>